input {
  padding: 20px 30px;
  line-height: 40px;
  outline: none;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 2.6rem;
  border: none;
  cursor: pointer;
  letter-spacing: 4px;
  ::placeholder {
    color: #dddddd;
  }
  &:focus::placeholder {
    color: transparent;
  }
  margin-bottom: 16px;
}

.blink {
  animation: blinker 2s linear infinite;
}
@keyframes blinker {
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
}
